{
  "name": "BitcoinAlert_Slackbot",
  "description": "BitcoinAlert_Slackbot",
  "region": "us-east-1",
  "handler": "lambda_function.lambda_handler",
  "role": "{IAM Roll}",
  "timeout": 300,
  "runtime": "python3.6",
  "memory": 128,
  "variables": {
    "slackPostURL": "{slackPostURL}",
    "slackChannel": "{slackChannel"
  }
}